GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
DESKCAT_ADMIN_EMAIL=
DESKCAT_ANCHOR_EDITOR_ENABLED=false
DESKCAT_ANCHOR_EDITOR_TOKEN=
